#observablehq-toc {
  position: absolute;
  display:block!important;
   
  height:2.25rem;
  top:0;
  overflow: hidden;

  transition: all 250ms;
  width:100%;

   nav {
    backdrop-filter: blur(4px);
    padding-block: 1rem;
       
    display:block;
    border:unset;
    border-bottom: 1px solid var(--theme-foreground-faint);
    width:100%;
    margin:0;
  }

  nav + div {
    transform:translateY(3.25rem);
  }

}

.unfolder {
    display: none;
}

.toggle-label {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  height:1rem;
  padding:0.5rem;
  text-align: end;
  
}

.toggle-label:hover {
  color:var(--theme-foreground-pop);
}


#observablehq-toc:has(.unfolder:checked) {
  height:24rem;
}