#observablehq-footer nav {
  a {
    border-radius: 0;
    padding: 0.75 rem;
    /*span {
      font-size:0.825rem;
    }*/
  }

  a:nth-child(2) {
    span {
      text-align: end;
    }
  }
}

#observablehq-footer {
  margin-top: 1rem;
}

.copy {
  
  &:before {
    content:" © ";
    font-size:14px;
    vertical-align: middle;
  }

  &:after {
    font-family: "Source Serif 4", serif !important;
    padding-top:1rem;
    display:inline;
    font-size:12px;
    content: "D.L."
  }
  
}