#observablehq-main {
  h1:first-child:has(+ h2) {
    font-size: 1.1em;
    font-family: var(--sans-serif);
    color: var(--theme-foreground);

    letter-spacing: 1px;

    & + h2 {
      font-family: var(--serif);
      font-size: 1.1em;
      color: var(--theme-foreground-faint);

      a[href] {
        color: unset;
      }

      &:after {
        display: block;
        position: relative;
        top: 0.35em;
        text-align: center;
      }
    }
  }

  h3 {
    padding-block-start: 0.5rem;
    font-family: var(--sans-serif);
    font-size: 1.035em;
    color: var(--theme-foreground);
  }
}

/*@container style(--type:post) or style(--type:dash) {

   ... in the future 
   
}*/
  