/* Article marking styles */

a[href="#exit"],a[href="#fold"] {
  
  border-top:0.475rem solid var(--theme-background-alt);
  border-bottom:1px solid var(--theme-background-alt);
  background-color:var(--theme-foreground-pop);
  
  margin-block-start: 2rem;
  pointer-events: none;
  display:block;
  font-size:0;

  height:1px;
  width:1rem;

}

a[href="#rest"] {

  letter-spacing: 0.1rem;
  pointer-events: none;
  text-align: center;

  
  font-size:1.5rem;
  display:block;
  
  color: unset;
  opacity:0.8;

}

[alt="hide"] {
  display: none;
}