@import url("observablehq:default.css");
@import url("observablehq:theme-sun-faded.css");

.home {
   max-width:642px;
}


main:has([href="#post"]) {

   background: var(--theme-background-alt);
   border: 1px solid var(--theme-foreground-faintest)!important;
   border-radius: 0.75rem;
   padding:1rem;
   margin: 1rem 0;
   max-width: calc(640px - 2rem)!important;
}

#observablehq-main {
  margin:unset;
  left:max(0rem,calc(50% - 640px + 4rem));
}

.article {
   max-width: calc(640px - 2rem);
}

#observablehq-footer {
   margin-top:1rem;
}

#observablehq-sidebar {
  visibility:hidden!important;
} 

#observablehq-center {
  padding-left:unset!important;
}

#observablehq-sidebar-toggle {
   display:none!important;
}