@import url("observablehq:default.css");
@import url("observablehq:theme-sun-faded.css");

.home {
   max-width:642px;
}

body {
   font: 16px / 1.5 var(--serif);
}

body:not(:has([href="#post"])) footer nav {
  display: none !important;;
}

.card {
  border:unset;
  border-radius:0;
  border-bottom: 1px solid var(--theme-foreground-faintest)!important;
}

#observablehq-footer nav a {
  border-radius:0;
}

main:has([href="#post"]) {

   view-transition-name: hero;

   view-transition-name: hero;
   background: var(--theme-background-alt);
   border-top: 1px solid var(--theme-foreground-faintest)!important;
   // border-radius: 0.75rem;
   padding:1rem;
   margin: 1rem 0;
   max-width: calc(640px - 2rem)!important;
}

#observablehq-main {
  margin:unset;
  min-height:unset;
  left:max(0rem,calc(50% - 640px + 4rem));
}

.article {
   max-width: calc(640px - 2rem);
}

#observablehq-footer {
   margin-top:1rem;
}

#observablehq-sidebar {
  visibility:hidden!important;
} 

#observablehq-center {
  padding-left:unset!important;
}

#observablehq-sidebar-toggle {
   display:none!important;
}

::view-transition-old(*),
::view-transition-new(*) {
  mix-blend-mode: normal;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

/* Old stuff going out */

::view-transition-old(hero) {
  animation: fadeOut 350ms ease forwards; 
}
 
 /* New stuff coming in */
::view-transition-new(hero) {
  animation: fadeIn 350ms ease forwards;
}
 
 @keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateX(-50vw);
    }
  
    to {
      opacity: 1;
      transform: translateX(0);
    }
 }

 @keyframes fadeOut {
   from {
      opacity: 1;
      transform: translateX(0);
    }
  
    to {
      opacity: 0;
      transform: translateX(50vw);
    }
 }